%div.row
  %div.col.col-12
    %h4== Benvenuto #{@name} - #{@last_name}
%div.row
  %div.col.col-12
    %a.button.secondary{href: "/patent/auth/search"}
      Cerca
      %i.kube-search
    %a.button.secondary{href: "/dashboard/auth/patent"} Brevetti-Depositati
%div.row
  %div.col-col-12
    - if @user_patents.nil?
      %p You don't have patents
    - else
      %table.striped
        %thead
          %tr
            %th Id Brevetto
            %th Data-Creazione
            %th Md5
            %th Azione
        %tbody
          - @user_patents.each do |patent|
            %tr
              %td= patent.alias
              %td= patent.definition["created_at"]
              %td= patent.definition["integrity"]
              %td
                %a.button.primary{href: "/dashboard/auth/deposit?patent=#{patent.id}"} Deposita
                
            
%div.row
  %div.col.col-12
    %a.button.large{href: "/patent/auth/new_patent"} Nuovo Brevetto
%div.row
  %div.col.col-12
    %a.button.large{href: "/dashboard/auth/logout"} Esci
